<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Nivel medio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="arriba">
    <ion-button class="iniciar" (click)="startGame()">Comenzar Juego</ion-button>
  </div>

  <div class="card-grid">
    <ion-card
      *ngFor="let card of cards; let i = index"
      [class.flipped]="card.isFlipped"
      (click)="cardClicked(i)"
    >
      <img [src]="card.isFlipped ? 'assets/cards/medio/' + card.image : 'assets/cards/back.jpg'" alt="Card" />
    </ion-card>
  </div>

  <div *ngIf="isGameStarted && !isGameFinished" class="victoria">
    <p>Tiempo transcurrido: {{ elapsedTime }} segundos</p>
  </div>
  
  <div *ngIf="isGameFinished" class="victoria">
    <p>¡Has ganado! Tiempo: {{ elapsedTime }} segundos</p>
  </div>
</ion-content>
