@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    font-family: 'Orbitron', sans-serif;      
 }

ion-label{
    text-align: center;    
    h2{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
}

ion-item{
    --background:#87001fd8;
}